{% extends 'base.html' %}
{% block content %}
<h2 class="mb-3">Ver Facturas</h2>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Fecha de Emisión</th>
                <th>Monto Total</th>
                <th>Estado de Pago</th>
                <th>Método de Pago</th>
                <th>Fecha de Vencimiento</th>
                <th>Programación Asociada</th>
                <th>Impuestos</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for factura in facturas %}
            <tr>
                <td>{{ factura.id }}</td>
                <td>{{ factura.id_cliente }}</td>
                <td>{{ factura.fecha_emision }}</td>
                <td>{{ factura.monto_total }}</td>
                <td>{{ factura.estado_pago }}</td>
                <td>{{ factura.metodo_pago }}</td>
                <td>{{ factura.fecha_vencimiento }}</td>
                <td>{{ factura.id_programacion_asociada }}</td>
                <td>{{ factura.impuestos_aplicados }}</td>
                <td>
                    <a href="{% url 'editar_factura' factura.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'borrar_factura' factura.id %}" class="btn btn-danger btn-sm">Borrar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<a href="{% url 'agregar_factura' %}" class="btn btn-primary">Agregar Factura</a>
{% endblock %}
