<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">🧹 Empresa de Limpieza</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'inicio' %}">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Clientes
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'agregar_cliente' %}">Agregar Cliente</a></li>
            <li><a class="dropdown-item" href="{% url 'ver_clientes' %}">Ver Clientes</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownServicios" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Servicios
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownServicios">
            <li><a class="dropdown-item" href="{% url 'agregar_servicio' %}">Agregar Servicio</a></li>
            <li><a class="dropdown-item" href="{% url 'ver_servicios' %}">Ver Servicios</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEmpleados" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Empleados
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownEmpleados">
            <li><a class="dropdown-item" href="{% url 'agregar_empleado' %}">Agregar Empleado</a></li>
            <li><a class="dropdown-item" href="{% url 'ver_empleados' %}">Ver Empleados</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProgramacion" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Programación
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownProgramacion">
            <li><a class="dropdown-item" href="{% url 'agregar_programacion' %}">Agregar Programación</a></li>
            <li><a class="dropdown-item" href="{% url 'ver_programacion' %}">Ver Programación</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownFacturas" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Facturas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownFacturas">
            <li><a class="dropdown-item" href="{% url 'agregar_factura' %}">Agregar Factura</a></li>
            <li><a class="dropdown-item" href="{% url 'ver_facturas' %}">Ver Facturas</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMateriales" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Materiales
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMateriales">
            <li><a class="dropdown-item" href="{% url 'agregar_material' %}">Agregar Material</a></li>
            <li><a class="dropdown-item" href="{% url 'ver_materiales' %}">Ver Materiales</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUsos" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Uso de Materiales
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownUsos">
            <li><a class="dropdown-item" href="{% url 'agregar_uso' %}">Agregar Uso</a></li>
            <li><a class="dropdown-item" href="{% url 'ver_usos' %}">Ver Usos</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
